.activity {
  margin-bottom: 5px;

  :global(.ant-select-item-option) {
    padding: 0 !important;

    :global(.ant-select-item-option-content) {
      text-align: center;
    }
  }

  :global(.ant-select-dropdown) {
    overflow: auto;
    scrollbar-width: none;
  }
}

.theme {
  width: calc(100% - 5px);
  height: 24.5px;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;

  :global(.ant-select-selector) {
    border: none !important;
  }

  :global(.ant-select-arrow) {
    display: none;
  }

  :global(.ant-select-selection-item) {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0 !important;
    color: #ffffff;
  }
}

.work {
  width: calc(100% - 5px);
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;

  :global(.ant-select-selector) {
    background-color: #ffffff !important;
  }

  :global(.ant-select-arrow) {
    display: none;
  }

  :global(.ant-select-selection-item) {
    text-align: center;
    font-size: 14px;
    padding: 0 !important;
  }
}

.target {
  width: calc(100% - 5px);
  height: 25.8px;
  border-radius: 5px;

  :global(.ant-select-selector) {
    background-color: #ffffff !important;
  }

  :global(.ant-select-arrow) {
    display: none;
  }

  :global(.ant-select-selection-item) {
    text-align: center;
    font-size: 14px;
    padding: 0 !important;
  }
}

.number {
  margin-left: 5px;
  margin-bottom: 4.5px;
  width: calc(100% - 5px);

  :global(.ant-input-number-input) {
    padding-right: 1px;
    text-align: center;
    padding-left: 2px;
  }

  :global(.ant-input-number-group-addon) {
    font-size: 12px;
    padding-left: 1px;
    padding-right: 1px;
    color: #ffffff;
  }

  :global(.ant-input-number-handler-wrap) {
    width: 16px !important;
    left: 30px !important;
    border: none;
  }
}

.content {
  width: calc(100% - 5px);
  // 支持滚动，但不显示滚动条
  overflow: auto;
  scrollbar-width: none;
}

.separator {
  width: 100%;
  height: 2px;
  border: none;
}

.iconHover:hover {
  cursor: pointer;
}

.foldIcon {
  svg {
    margin: 0 0 4px 8px;
    width: 22px;
    height: 22px;
  }
}

.unFoldIcon {
  margin-left: 5px;

  svg {
    width: 22px;
    height: 22px;
  }
}

.todoUnfoldIcon {
  margin-top: -5px;
  margin-left: 2px;

  svg {
    width: 22px;
    height: 22px;
  }
}

.todoFoldIcon {
  margin-top: -3px;
  margin-left: 2px;

  svg {
    width: 22px;
    height: 22px;
  }
}

.summaryIcon {
  svg {
    margin-left: 5px;
    margin-bottom: 4px;
    width: 22px;
    height: 22px;
  }
}

.summaryFoldedIcon {
  svg {
    margin-top: -1px;
    margin-left: 6px;
    width: 22px;
    height: 22px;
  }

  svg:hover {
    cursor: pointer;
  }
}

.deleteFoldIcon {
  svg {
    width: 25px;
    height: 25px;
    margin: 0 0 0 10px;
  }

  svg:hover {
    cursor: pointer;
  }
}

.deleteUnFoldIcon {
  svg {
    width: 25px;
    height: 25px;
    margin: 1px 3px 0 -1px;
  }

  svg:hover {
    cursor: pointer;
  }
}

.pushUnfoldIcon {
  svg {
    width: 23px;
    height: 24px;
    margin: 2px 0 0 1px;
  }

  svg:hover {
    cursor: pointer;
  }
}

.pushFoldIcon {
  svg {
    width: 23px;
    height: 24px;
    margin: 0;
  }

  svg:hover {
    cursor: pointer;
  }
}

.line {
  height: 2px;
  border: none;
  margin: 12px 0 0 0;
}

.time {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  color: #ffffff;
  padding: 0;

  :global(.ant-picker-input) {
    input {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding-left: 2px;
    }

    :global(.anticon) {
      display: none;
    }
  }
}

.orderListIcon {
  svg {
    width: 22px;
    height: 22px;
    margin: -2px 0 0 7px;
  }

  svg:hover {
    cursor: pointer;
  }
}

.importIcon {
  transform: scaleX(-1);

  svg {
    width: 20px;
    height: 20px;
    margin: 0 0 0 3px;
  }

  svg:hover {
    cursor: pointer;
  }
}
