.activity {
  margin-bottom: 10px;
}

:global(.ant-select-item-option) {
  padding: 0 !important;

  :global(.ant-select-item-option-content) {
    text-align: center;
    color: #81d3f8;
  }
}

:global(.ant-select-dropdown) {
  overflow: auto;
  scrollbar-width: none;
}
