.whichDay {
  width: 125px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #81d3f8;
  color: #ffffff;
  border: none;
  padding-top: 2.5px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.fold {
  svg {
    width: 35px;
    height: 35px;
    transform: rotate(90deg);
    margin-top: 8px;
    color: #81d3f8;
    margin-left: 3px;
  }
}

.plusItem {
  svg {
    width: 30px;
    height: 30px;
    color: #81d3f8;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
  }
}

.toWeekly {
  svg {
    width: 30px;
    height: 30px;
    color: #81d3f8;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
  }
}
