.horizontal {
  background-color: #81d3f8;
  height: 2px;
  border: none;
  margin: 5px 0 10px 0;
}

.vertical {
  background-color: #81d3f8;
  // 视窗高度的 85%
  height: calc(85vh);
  width: 2px;
  border: none;
  margin: 45px 0 10px 0;
  float: left;
}
