.horizontal {
  background-color: #81d3f8;
  height: 2px;
  border: none;
  margin: 5px 0 10px 0;
}

.vertical {
  background-color: #81d3f8;
  height: 100%;
  width: 3px;
  border: none;
  margin: 48px 0 10px 0;
  float: left;
}
