.forwardWeek {
  svg {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    color: #81d3f8;
  }
}

.date {
  margin-top: 10px;
  height: 30px;
  width: 130px;
  border: none;
  background-color: #81d3f8;

  :hover {
    background-color: #81d3f8 !important;
    color: #ffffff;
  }

  // focus 且鼠标不在输入框上时的样式
  :global(:focus-within) {
    background-color: #81d3f8;
    color: #ffffff;
  }

  :global(.ant-picker-input) {
    input {
      color: #ffffff;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      margin-left: 2px;
    }

    :global(input:hover) {
      background-color: #81d3f8;
      cursor: pointer;
    }
  }

  :global(.anticon) {
    display: none;
  }
}

.plusItem {
  svg {
    width: 30px;
    height: 30px;
    color: #81d3f8;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
  }
}

.selectItem {
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  border: none;

  :global(.ant-select-selector) {
    border: 1.5px solid #81d3f8 !important;
  }

  :global(.ant-select-selection-item) {
    padding: 1px !important;
    text-align: center;
    color: #81d3f8;
    font-size: 17px;
  }

  :global(.anticon) {
    display: none;
  }
}
