.switchDay {
  svg {
    width: 30px;
    height: 30px;
    color: #81d3f8;
  }
}

.date {
  height: 30px;
  width: 135px;
  border: none;
  background-color: #81d3f8;

  :global(.ant-picker-input) {
    input {
      color: white;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      margin-left: 2px;
    }

    input:hover {
      color: white;
      background-color: #81d3f8;
      cursor: pointer;
    }
  }

  :global(.anticon) {
    display: none;
  }
}

.date:hover {
  background-color: #81d3f8;
}

.date:focus-within {
  // focus 且鼠标不在输入框上时的样式
  background-color: #81d3f8;
}

.refresh {
  svg {
    width: 28px;
    height: 28px;
    color: #81d3f8;
    margin-left: 2px;
    margin-right: 7px;
  }
}

.plusItem {
  svg {
    width: 32px;
    height: 32px;
    color: #81d3f8;
    margin-right: 5px;
  }
}

.headerLine {
  background-color: #81d3f8;
  height: 2px;
  border: none;
  margin: 5px 0 5px 0 !important;
}
