.container {
  :global(.ant-tabs-tabpane) {
    > div {
      padding: 1px !important;
    }
  }

  :global(.ant-tabs-tab) {
    margin-left: 0 !important;
  }

  :global(.ant-tabs-tab-btn) {
    padding-left: 3px !important;
    padding-right: 5px !important;
  }
}
