.dayProgress {
  white-space: nowrap;

  :global(.ant-input-number-group-wrapper) {
    width: 55px;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  :global(.ant-input-number-input) {
    padding-left: 2px;
    padding-right: 1px;
    text-align: center;
  }

  :global(.ant-input-number-group-addon) {
    padding-left: 1px;
    padding-right: 1px;
    color: #ffffff;
  }

  :global(.ant-input-number-handler-wrap) {
    width: 16px !important;
    left: 32px !important;
    border: none;
  }

  :global(.ant-input-number-handler) {
    width: 7px;
    margin-left: 5px;
    border: none;

    svg {
      color: #ffffff;
    }
  }
}

.foldScore {
  height: 22.5px;

  :global(.ant-input-number-input-wrap) {
    height: 22.5px;
  }

  :global(.ant-input-number-input) {
    height: 22.5px;
    padding-top: 0;
  }
}

.unFoldScore {
  height: 32px;

  :global(.ant-input-number-input-wrap) {
    height: 32px;
  }

  :global(.ant-input-number-input) {
    height: 32px;
    padding-top: 4px;
  }
}
