.dayProgress {
  :global(.ant-input-number-group-wrapper) {
    width: 55px;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  :global(.ant-input-number) {
    //border: 1.5px solid #81d3f8;
  }

  :global(.ant-input-number-input) {
    height: 32px;
    padding-left: 2px;
    padding-right: 1px;
    text-align: center;
    //color: #81d3f8;
  }

  :global(.ant-input-number-group-addon) {
    padding-left: 1px;
    padding-right: 1px;
    //background-color: #81d3f8;
    color: #ffffff;
    //border: 1.5px solid #81d3f8;
  }

  :global(.ant-input-number-handler-wrap) {
    width: 16px !important;
    left: 32px !important;
    border: none;
    //background-color: #81d3f8;
  }

  :global(.ant-input-number-handler) {
    width: 7px;
    margin-left: 5px;
    border: none;

    svg {
      color: #ffffff;
    }
  }
}
