.dayProgress {
  white-space: nowrap;

  :global(.ant-input-number-group-wrapper) {
    width: 55px;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  :global(.ant-input-number-input) {
    padding-left: 2px;
    padding-right: 1px;
    text-align: center;
  }

  :global(.ant-input-number-group-addon) {
    padding-left: 1px;
    padding-right: 1px;
    color: #ffffff;
  }

  :global(.ant-input-number-handler-wrap) {
    width: 16px !important;
    left: 32px !important;
    border: none;
  }

  :global(.ant-input-number-handler) {
    width: 7px;
    margin-left: 5px;
    border: none;

    svg {
      color: #ffffff;
    }
  }
}

.foldProgress {
  height: 26px;
  margin-bottom: 4px;

  .ant-input-number-input {
    height: 26px;
  }
}

.unFoldProgress {
  height: 32px;

  .ant-input-number-input {
    height: 32px;
  }
}

.foldScore {
  height: 22.5px;

  :global(.ant-input-number-input-wrap) {
    height: 22.5px;
  }

  :global(.ant-input-number-input) {
    height: 22.5px;
    padding-top: 0;
  }
}

.unFoldScore {
  height: 32px;

  :global(.ant-input-number-input-wrap) {
    height: 32px;
  }

  :global(.ant-input-number-input) {
    height: 32px;
    padding-top: 4px;
  }
}

.leftProgress {
  width: 25px;
  border-radius: 5px 0 0 5px;
}

.rightProgress {
  width: 25px;
  border-radius: 0 5px 5px 0;
  border-left: none;
}

// 已过去的日期
.formerColor {
  :global(.ant-input-number) {
    border: 1.5px solid #5bb1c9;
  }

  :global(.ant-input-number-input) {
    color: #5bb1c9;
  }

  :global(.ant-input-number-group-addon) {
    background-color: #5bb1c9;
    border: 1.5px solid #5bb1c9;
  }

  :global(.ant-input-number-handler-wrap) {
    background-color: #5bb1c9;
  }
}

// 不在目标日期范围内的日期
.excludeColor {
  :global(.ant-input-number) {
    border: 1.5px solid #c6c6c6;
  }

  :global(.ant-input-number-input) {
    color: #c6c6c6;
  }

  :global(.ant-input-number-group-addon) {
    background-color: #c6c6c6;
    border: 1.5px solid #c6c6c6;
  }

  :global(.ant-input-number-handler-wrap) {
    background-color: #c6c6c6;
  }
}

// 在目标日期范围内的日期但大于当前日期
.latterColor {
  :global(.ant-input-number) {
    border: 1.5px solid #81d3f8;
  }

  :global(.ant-input-number-input) {
    color: #81d3f8;
  }

  :global(.ant-input-number-group-addon) {
    background-color: #81d3f8;
    border: 1.5px solid #81d3f8;
  }

  :global(.ant-input-number-handler-wrap) {
    background-color: #81d3f8;
  }
}
