.theme {
  width: 65px;
  height: 65px;
  color: white;
  font-size: 16px;
  font-weight: bold;

  :global(.ant-select-selector) {
    padding: 1px !important;
    background-color: #81d3f8 !important;
    border: 0 !important;
  }

  :global(.ant-select-arrow) {
    display: none;
  }

  :global(.ant-select-selection-item) {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0 !important;
  }
}

.score {
  width: 55px;
  height: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #81d3f8;
  font-size: 15px;
  border-color: #81d3f8;
  border-width: 1.5px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 5px;
}

.proportion {
  width: 55px;
  height: 30px;
  margin-left: 5px;
  //color: #81d3f8;
  //font-size: 15px;
  //border-color: #81d3f8 !important;
  //border-width: 1.5px !important;
  //border-radius: 5px !important;

  :global(.ant-input-number) {
    border: 1.5px solid #81d3f8;
  }

  :global(.ant-input-number-input) {
    color: #81d3f8;
    height: 28px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
  }

  :global(.ant-input-number-group-addon) {
    padding-left: 1px !important;
    padding-right: 1px !important;
    background-color: #81d3f8 !important;
    color: #ffffff !important;
    border: 1.5px solid #81d3f8 !important;
  }
}

.item {
  width: 130px;
  height: 44px;
  color: #81d3f8;
  font-size: 15px;
  border-width: 0 !important;
  border-radius: 5px;
  padding-right: 5px;

  :global(.ant-select) {
    padding-left: 0 !important;
  }

  :global(.ant-select-selector) {
    padding: 1px !important;
    background-color: #81d3f8 !important;
    border: 0 !important;
  }

  :global(.ant-select-arrow) {
    display: none;
  }

  :global(.ant-select-selection-item) {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 0 !important;
  }
}

.progress {
  width: 150px;
  height: 22px;
  border: 1.5px solid #81d3f8;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
  background-color: #81d3f8;
}

.target {
  width: 150px;
  height: 87px;
  color: #81d3f8;
  font-size: 15px;
  border-color: #81d3f8;
  border-width: 1.5px;
  border-radius: 5px;
}
