.stepCol {
  margin-left: 2px;
  margin-right: 10px;
}

.dayProgress {
  width: 50px;
  margin-bottom: 5px;
}

.myIconCol {
  padding-left: 5px;
}

.myIconJump {
  color: #81d3f8;

  svg {
    width: 25px;
    height: 25px;
    margin-top: 2px;
  }
}

.myIconContinue {
  color: #81d3f8;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
}

.myIconFold {
  color: #81d3f8;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
}
