.wrapper {
  padding: 0;
  overflow: auto;
  scrollbar-width: none;
}

.itemStep {
  :global(.ant-input-group-wrapper) {
    margin-bottom: 3px;
  }

  :global(.ant-input-group-addon) {
    color: white;
    padding-left: 3px;
    padding-right: 3px;
  }

  :global(.ant-input) {
    border-width: 1.5px;
    font-size: 15px;
  }
}

.myIconCol {
  padding-left: 5px;
}

.myIconContinue {
  color: #81d3f8;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
}

.myIconFoldStep {
  color: #81d3f8;

  svg {
    width: 20px;
    height: 20px;
  }
}

.myIconSummary {
  color: #81d3f8;
  margin: 3px 0 3px 2px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.myIconFold {
  color: #81d3f8;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 2px;
  }
}

.expandFold {
  color: #81d3f8;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-left: 2px;
  }
}
