.wrapper {
  padding: 0;
  height: 115px;
  overflow: auto;
  scrollbar-width: none;
}

.itemStep {
  :global(.ant-input-group-wrapper) {
    margin-bottom: 3px;
  }

  :global(.ant-input-group-addon) {
    color: white;
    background-color: #81d3f8;
    border-color: #81d3f8;
    padding-left: 3px;
    padding-right: 3px;
  }

  :global(.ant-input) {
    border-color: #81d3f8;
    border-width: 1.5px;
    color: #81d3f8;
    font-size: 15px;
  }
}
