.textArea {
  margin-top: 20px;
  height: 300px;
}

.prefixRemove {
  width: 200px;
}

.serialMark {
  width: 150px;
}

.colorPicker {
  width: 19px !important;
  height: 19px !important;
  min-width: 19px !important;
  min-height: 19px !important;

  :global(.ant-color-picker-color-block) {
    width: 12px !important;
    height: 12px !important;
  }

  :global(.ant-color-picker-trigger) {
    width: 19px !important;
    height: 19px !important;
    border-radius: 2px !important;
  }
}
