.carousel {
  width: 330px;
  height: 94px;
}

.card {
  :hover {
    cursor: pointer;
  }

  :global(.ant-card-body) {
    height: 55px;
  }
}

.popoverContent {
  width: calc(80vh);
  height: calc(70vh);
  overflow: auto;
  scrollbar-width: none;

  :global(.ant-card-head) {
    width: calc(80vh);
  }

  :global(.ant-card-body) {
    width: calc(80vh);
  }
}
