.carousel {
  width: 42vh;
  height: 94px;
}

.card {
  :hover {
    cursor: pointer;
  }

  :global(.ant-card-body) {
    height: 55px;
  }
}

.popoverContent {
  width: calc(80vh);
  height: calc(65vh);
  overflow: auto;
  scrollbar-width: none;

  :global(.ant-card-head) {
    width: calc(80vh);
  }

  :global(.ant-card-body) {
    width: calc(80vh);
  }
}

.logoImg {
  height: 30px !important;
  width: auto !important;
}

.websiteModule {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
  color: #81d3f8;
}

.newsTabs {
  :global(.ant-tabs-tab) {
    width: 200px;
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    // 设置父容器为 flex 容器
    display: flex;
    // 让子元素水平居中
    justify-content: center;
    // 让子元素垂直居中
    align-items: center;
  }
}
